[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettyconf = "*"
crayons = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
rope = "*"
"fabric3" = "*"

[requires]
python_version = "3.7"
